.swiper-button-next,
.swiper-button-prev {
  color: red;
}

/* .swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; 
} */

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: blue;
}

.swiper-pagination-bullet {
  display: none;
}
