.homepage {
    background-image: url("../../assets/BACKGROUND-HOME-PAGE.png");
    width: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.titleHomePage {
    font-family: "arimo", sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titleHomePage {
    font-family: var(--primary-font);
    color: var(--darkblue-color);
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-right: 23rem;
}

.intro {
    font-family: var(--text-font);
    font-size: large;
    max-width: 70%;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.titleSlider {
    text-align: center;
    font-family: var(--primary-font);
    color: var(--darkblue-color);
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-right: 23rem;
}
