* {
  padding: 0;
}

.footer {
  display: flex;
  background-color: var(--bg-primary-color);
  border-radius: 1rem 1rem 0 0;
  margin-top: 5rem;
  justify-content: space-between;
  font-size: 17px;
}

.footer__ul {
  list-style: none;
  flex-direction: column;
  text-decoration: none;
}

.footer__ul-mentions {
  margin-left: 40px;
  list-style: none;
}

.footer__ul-network {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
}

.footer__facebook-img {
  margin-right: 1rem;
}

.footer__insta-img {
  margin-left: 1rem;
  margin-right: 1rem;
  fill: var(--darkblue-color);
}

.footer__x-img {
  margin-top: 0.2rem;
}

.footer__contact {
  text-decoration: none;
  color: var(--darkblue-color);
}

.footer__li-contact {
  list-style: none;
  padding-right: 40px;
}

.footer__li-info {
  list-style: none;
  color: var(--darkblue-color);
}

.footer__li-team {
  list-style: none;
  color: var(--darkblue-color);
}

.footer__cgu {
  text-decoration: none;
  color: var(--darkblue-color);
}

.footer__pdd {
  text-decoration: none;
  color: var(--darkblue-color);
}

.footer__mentions {
  text-decoration: none;
  color: var(--darkblue-color);
}
