.mainContact {
    background-image: url("../../assets/BACKGROUND-CONTACT-PAGE.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titleContact {
    font-family: "arimo", sans-serif;
    text-align: center;
  }
  .formulaireContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .inputContact {
    margin: 1rem 0;
    width: 820px;
    height: 94px;
  }
  
  .textareaContact {
    margin: 1rem 0;
    width: 820px;
    height: 814px;
  }
  
  .buttonContact {
      font-family: "arimo", sans-serif;
      background-color: var(--darkblue-color);
      color: var(--bg-primary-color);
    width: 251px;
    height: 64px;
  }